<a href="https://colab.research.google.com/github/lourencocavalcante/my-studies/blob/main/CAP351_2022_Pre_processamento_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[<img src="https://github.com/lourencocavalcante/LogosINPE/blob/main/logoinpe.png?raw=true" width = 500 align="left">](https://www.gov.br/inpe/pt-br)

[<img src="https://github.com/lourencocavalcante/LogosINPE/blob/main/LogoCAP.png?raw=true" width = 300 align="right">](http://www.inpe.br/posgraduacao/cap/)

# <span style="color:#336699">Uma análise exploratória de dados meteorologicos: Investigando valores não realísticos e a correlação de atributos do disdrômetro RD80 e do radiômetro de microondas MP3000A</span>
<hr style="border:2px solid #0077b9;">

<br/>

<div style="text-align: center;font-size: 110%;">
    <b>CAP-394 – Introdução à Ciência de Dados</b>
    <br/>
    <b>Docentes:</b> Dr. Rafael Duarte Coelho dos Santos e Dr. Gilberto Ribeiro de Queiroz
    <br/><br/>
    <b>Discente:</b> Lourenço José Cavalcante Neto
    <br/>
    <b>E-mail:</b> <a href="mailto:lourenco.cavalcante@ifto.edu.b">lourenco.cavalcante@ifto.edu.br</a>

</div>

<br/>

<div style="text-align: justify;  margin-left: 20%; margin-right: 20%;">
<b>Objetivo: </b> O principal objetivo deste caderno notebook é apresentar o Pré-processamento e análise básica de dados meteorológicos, considerando a aquisição, extração e inserção no ambiente de execução, manutenção, armazenamento, limpeza, processamento, preparação e arquitetura dos dados.
</div>

Este notebook também pode ser visualizado no meu diretório de materiais e atividades da disciplina **CAP-394** no **Github**,  [Clicando aqui](https://github.com/lourencocavalcante/Introduction-to-Data-Science.git).

# **Pré-processamento de dados**

## **Conhecendo a base de dados**

Inicialmente iremos conhecer melhor a nossa base de dados e, na sequência iremos
montar uma ***baseline***.

## **Dataset**

Os dados meteorológicos são oriundos de dois equipamentos (**Radiômetro de Microondas "MP3000A"** e o **Disdrômetro "RD80"**), ambos instalados próximo à torre ATTO, em um sítio chamado Campina, na região Amazônica. O MP3000A mede diversas variáveis ambiente, entre elas a radiância no espectro de onda do microonda em diversos canais e estimativas de parâmetros de nuvens. Já o RD80 mede a distribuição das gotas de chuva que chegam à superfície.

Os dados compreendem o período de 17 de março de 2020 a 07 julho 2022.

## **Importação de módulos e bibliotecas**
São várias as bibliotecas que podem ser utilizadas para realizar o pré-processamento de dados. Entre elas podemos destacar a biblioteca **Pandas**. Trata-se de uma biblioteca para leitura, manipulação e análise de dados tabulados. Essa biblioteca oferece estruturas de dados e operações para manipular conjuntos massivos de tabelas numéricas e séries temporais de forma otimizada. No python, por convensão, as bibliotecas são importadas conforme podemos ver na célula abaixo:

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import math
import calendar
import datetime

## **Obtendo os arquivos de dados**

In [ ]:
#Vamos baixar os dados do Google Drive para o Notebook

!gdown --id 1DflICrG3vlewOXnLYrsEqhK0WFn2Bz0U #Down. WD_campina_report_RZLwcDmDtNdrop_b2.1_report

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1DflICrG3vlewOXnLYrsEqhK0WFn2Bz0U
To: /content/JWD_campina_report_RZLwcDmDtNdrop_b2.1_report.txt
100% 147M/147M [00:00<00:00, 292MB/s]

In [ ]:
#Vamos baixar os dados do Google Drive para o Notebook


!gdown --id 1ieLK9gKot8DTiQGFEJk8i3i-W6jsSB96 #Down. WD_campina_report_RZLwcDmDtNdrop_b2.1_report-2

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1ieLK9gKot8DTiQGFEJk8i3i-W6jsSB96
To: /content/JWD_campina_report_RZLwcDmDtNdrop_b2.1_report-2.txt
100% 14.7M/14.7M [00:00<00:00, 69.0MB/s]

Temos quatro tipos de arquivos:

* **JWD_campina_report_RZLwcDmDtNdrop_b2.1_report.txt**: 
`Neste arquivo estão dados de medida da distribuição das gotas de chuva que chegam à superfície.`

Com o objetivo de facilitar a leitura dos dados e torná-los **tidy**, primeiramente será necessário carregá-los como um **dataframe**. Vamos carregar os dados e criar os dataframes:

In [ ]:
#Abrindo os dados e criando os Dataframes
df_rd80_joss = pd.read_table('/content/JWD_campina_report_RZLwcDmDtNdrop_b2.1_report.txt',header=None, delim_whitespace=True)

#Abrindo os dados e criando os Dataframes
df_rd80_joss_2 = pd.read_table('/content/JWD_campina_report_RZLwcDmDtNdrop_b2.1_report-2.txt',header=None, delim_whitespace=True)

Vamos criar uma lista contendo os Dataframes para que possamos manipulá-los a partir daqui.

In [ ]:
list_dataframes = [df_rd80_joss, df_rd80_joss_2]

In [ ]:
#Vamos verificar o tamanho dos Datasets e visualizar as suas colunas.
print('TAMANHO DO DATASET E QUANTIDADE DE ATRIBUTOS:\n')
for item in list_dataframes:
  print('Tamanho do dataset: ',item.shape[0], ' - Quantidade de atributos: ', item.shape[1])

TAMANHO DO DATASET E QUANTIDADE DE ATRIBUTOS:

Tamanho do dataset:  315420  - Quantidade de atributos:  31
Tamanho do dataset:  31548  - Quantidade de atributos:  31

Agora vamos investigar mais algumas informações sobre nossos dados:

In [ ]:
for itemDtypes in list_dataframes:
  print(itemDtypes.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315420 entries, 0 to 315419
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       315420 non-null  float64
 1   1       315420 non-null  float64
 2   2       315420 non-null  float64
 3   3       315420 non-null  float64
 4   4       315420 non-null  float64
 5   5       315420 non-null  float64
 6   6       315420 non-null  float64
 7   7       315420 non-null  float64
 8   8       315420 non-null  float64
 9   9       315420 non-null  float64
 10  10      315420 non-null  float64
 11  11      315420 non-null  float64
 12  12      315420 non-null  float64
 13  13      315420 non-null  float64
 14  14      315420 non-null  float64
 15  15      315420 non-null  float64
 16  16      315420 non-null  float64
 17  17      315420 non-null  float64
 18  18      315420 non-null  float64
 19  19      315420 non-null  float64
 20  20      315420 non-null  float64
 21  21      315420 non-null  float64
 22  22      315420 non-null  float64
 23  23      315420 non-null  float64
 24  24      315420 non-null  float64
 25  25      315420 non-null  float64
 26  26      315420 non-null  float64
 27  27      315420 non-null  float64
 28  28      315420 non-null  float64
 29  29      315420 non-null  float64
 30  30      315420 non-null  float64
dtypes: float64(31)
memory usage: 74.6 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31548 entries, 0 to 31547
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       31548 non-null  float64
 1   1       31548 non-null  float64
 2   2       31548 non-null  float64
 3   3       31548 non-null  float64
 4   4       31548 non-null  float64
 5   5       31548 non-null  float64
 6   6       31548 non-null  float64
 7   7       31548 non-null  float64
 8   8       31548 non-null  float64
 9   9       31548 non-null  float64
 10  10      31548 non-null  float64
 11  11      31548 non-null  float64
 12  12      31548 non-null  float64
 13  13      31548 non-null  float64
 14  14      31548 non-null  float64
 15  15      31548 non-null  float64
 16  16      31548 non-null  float64
 17  17      31548 non-null  float64
 18  18      31548 non-null  float64
 19  19      31548 non-null  float64
 20  20      31548 non-null  float64
 21  21      31548 non-null  float64
 22  22      31548 non-null  float64
 23  23      31548 non-null  float64
 24  24      31548 non-null  float64
 25  25      31548 non-null  float64
 26  26      31548 non-null  float64
 27  27      31548 non-null  float64
 28  28      31548 non-null  float64
 29  29      31548 non-null  float64
 30  30      31548 non-null  float64
dtypes: float64(31)
memory usage: 7.5 MB
None

Vamos visualizar as 3 primeiras e 3 últimas linhas de cada arquivo de dados

In [ ]:
#Visualização das primeiras 3 linhas e últimas 3 linhas
df_rd80_joss.head(n=3).append(df_rd80_joss.tail(n=3))

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,2020.0,3.0,17.0,13.0,52.0,0.0,0.00000,0.00000,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020.0,3.0,17.0,13.0,53.0,0.0,0.00000,0.00000,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020.0,3.0,17.0,13.0,54.0,0.0,0.00000,0.00000,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315417,2022.0,6.0,29.0,9.0,7.0,0.0,0.00558,0.12418,0.00095,0.40371,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315418,2022.0,6.0,29.0,9.0,8.0,0.0,0.00497,0.10235,0.00088,0.38777,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315419,2022.0,6.0,29.0,9.0,9.0,0.0,0.00000,0.00000,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#Visualização das primeiras 3 linhas e últimas 3 linhas
df_rd80_joss_2.head(n=3).append(df_rd80_joss_2.tail(n=3))

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,2022.0,8.0,8.0,20.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.0,8.0,8.0,20.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.0,8.0,8.0,20.0,12.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31545,2022.0,8.0,30.0,22.0,22.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31546,2022.0,8.0,30.0,22.0,23.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31547,2022.0,8.0,30.0,22.0,24.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Como vimos, a colunas de dados não vieram com seus nomes. Vamos resolver isso adicionando nome para as colunas dos dados do instrumento RD80 e do MP3000A, uma vez que sabemos o que cada coluna representa, de acordo com as especificações recebidas juntamente com os dados.

In [ ]:
#Vamos adicionar os títulos das colunas:
df_rd80_joss.columns = ['Ano', 'Mes', 'dia', 'H', 'M', 'S','Rain_Intensity_mm_h', 'radar_reflectivity_1_mm6m3','Liquid_watercontent_g_m3',
'Mean_weight_diameter_mm', 'Time_integration_s', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D']


df_rd80_joss_2.columns = ['Ano', 'Mes', 'dia', 'H', 'M', 'S','Rain_Intensity_mm_h', 'radar_reflectivity_1_mm6m3','Liquid_watercontent_g_m3',
'Mean_weight_diameter_mm', 'Time_integration_s', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D']

Aqui adicionamos a coluna Datetime para cada um dos Dataframes, com os dados de data e hora. Primeiramente vamos converter o tipo dos dados de data e hora para (int), para que possamos manipulá-los na criação da coluna Datetime, e em seguida adicionaremos a coluna Datetime.

In [ ]:
#Modificanto o tipo de dado para (int)
df_rd80_joss[['Ano', 'Mes', 'dia', 'H', 'M', 'S']] = df_rd80_joss[['Ano', 'Mes', 'dia', 'H', 'M', 'S']].astype(int)
df_rd80_joss_2[['Ano', 'Mes', 'dia', 'H', 'M', 'S']] = df_rd80_joss_2[['Ano', 'Mes', 'dia', 'H', 'M', 'S']].astype(int)

Adicionando a coluna Datetime aos Dataframes.

In [ ]:
#Adiciona a coluna Datetime ao Dataframe com os dados do RD80 (Joss)
df_rd80_joss['Datetime'] = df_rd80_joss[['Ano', 'Mes', 'dia', 'H', 'M', 'S']].apply(lambda row:
                    datetime.datetime(year=row['Ano'], month=row['Mes'],day=row['dia'], hour=row['H'], minute=row["M"], second=row["S"]),axis=1)

#Caso queiramos definir a coluna 'Datetime' como Índice
#df_rd80_joss = df_rd80_joss.set_index('Datetime')

#Adiciona a coluna Datetime ao Dataframe com os dados do RD80 (Joss)
df_rd80_joss_2['Datetime'] = df_rd80_joss_2[['Ano', 'Mes', 'dia', 'H', 'M', 'S']].apply(lambda row:
                    datetime.datetime(year=row['Ano'], month=row['Mes'],day=row['dia'], hour=row['H'], minute=row["M"], second=row["S"]),axis=1)

#Caso queiramos definir a coluna 'Datetime' como Índice
#df_rd80_joss = df_rd80_joss.set_index('Datetime')

In [ ]:
df_rd80_joss.columns

Index(['Ano', 'Mes', 'dia', 'H', 'M', 'S', 'Rain_Intensity_mm_h',
       'radar_reflectivity_1_mm6m3', 'Liquid_watercontent_g_m3',
       'Mean_weight_diameter_mm', 'Time_integration_s', 'N_D', 'N_D', 'N_D',
       'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D',
       'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'Datetime'],
      dtype='object')

In [ ]:
df_rd80_joss_2.columns

Index(['Ano', 'Mes', 'dia', 'H', 'M', 'S', 'Rain_Intensity_mm_h',
       'radar_reflectivity_1_mm6m3', 'Liquid_watercontent_g_m3',
       'Mean_weight_diameter_mm', 'Time_integration_s', 'N_D', 'N_D', 'N_D',
       'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D',
       'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'Datetime'],
      dtype='object')

Após os ajustes anteriores, podemos finalizar esta etapa removendo as colunas nas quais não iremos utilizar a partir daqui.

In [ ]:
#Vamos remover as colunas que não iremos utilizar

df_rd80_joss = df_rd80_joss.drop(columns=['Mes', 'dia', 'Ano', 'H', 'M', 'S','N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D',
       'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D',
       'N_D', 'N_D', 'N_D'])

df_rd80_joss_2 = df_rd80_joss_2.drop(columns=['Mes', 'dia', 'Ano', 'H', 'M', 'S','N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D',
       'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D',
       'N_D', 'N_D', 'N_D'])

Agora vamos juntar os dados do mp3000A em um único Dataframe, utilizando a dunção **merge** do **pandas**.

In [ ]:
df_RD80_FINAL = pd.merge(df_rd80_joss,df_rd80_joss_2, how='outer', on = [ 'Datetime','Rain_Intensity_mm_h',
       'radar_reflectivity_1_mm6m3', 'Liquid_watercontent_g_m3',
       'Mean_weight_diameter_mm', 'Time_integration_s'])

In [ ]:
df_RD80_FINAL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346968 entries, 0 to 346967
Data columns (total 6 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Rain_Intensity_mm_h         346968 non-null  float64
 1   radar_reflectivity_1_mm6m3  346968 non-null  float64
 2   Liquid_watercontent_g_m3    346968 non-null  float64
 3   Mean_weight_diameter_mm     346968 non-null  float64
 4   Time_integration_s          346968 non-null  float64
 5   Datetime                    346968 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5)
memory usage: 18.5 MB

Após juntar os Dataframes, vamos ver o novo tamanho do nosso dataset e quantidade de atributos.

In [ ]:
#Tamanho do Dataset
print('TAMANHO DO DATASET E QUANTIDADE DE ATRIBUTOS:\n')

print('Tamanho do dataset: ',df_RD80_FINAL.shape[0], ' - Quantidade de atributos: ', df_RD80_FINAL.shape[1])

TAMANHO DO DATASET E QUANTIDADE DE ATRIBUTOS:

Tamanho do dataset:  346968  - Quantidade de atributos:  6

Iremos criar um baseline. Uma baseline é importante para ter marcos no projeto. A baseline que iremos criar é por **categoria**, ou seja, se a chuva foi fraca, moderada,forte, muito forte ou se não choveu, tomando como base os dados da medida da distribuição das gotas de chuva que chegam à superfície. tomando como referência o atributo **Rain_Intensity_mm_h** do **RD80**, as regras serão:

* Chuva fraca: 0.1-2.5mm/h;
* Chuva moderada: >2.5 - 10mm/h;
* Chuva forte: >10 - 50mm/h;
* Chuva muito forte: >50mm/h
* Não choveu: 0mm/h

Mas antes disso, precisamos aplicar uma pequena normalização. Vamos olhar os dados da coluna Rain_Intensity_mm_h, do Dataframe **df_rd80_joss** e, onde o valor for menor que **0.1** nós iremos substituir por **0 (zero)**. Além disso, também será realizada uma busca por valores nulos (NaN) nos nossos dados e, a correção será também a troca por 0 (zero).

In [ ]:
df_RD80_FINAL['Rain_Intensity_mm_h'][df_RD80_FINAL['Rain_Intensity_mm_h'] < 0.1] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
#Verificando e contando os valores Nulos (NaN)
df_RD80_FINAL.isna().sum()

Rain_Intensity_mm_h           0
radar_reflectivity_1_mm6m3    0
Liquid_watercontent_g_m3      0
Mean_weight_diameter_mm       0
Time_integration_s            0
Datetime                      0
Light_Rain                    0
Moderate_Rain                 0
Heavy_Rain                    0
Very_Heavy_Rain               0
Without_Rain                  0
Class_Rain_id                 0
Class_Rain                    0
Date                          0
Year                          0
Month                         0
Day_of_week                   0
dtype: int64

In [ ]:
#Verificando e contando os valores Nulos (NaN)
df_RD80_FINAL.isna().sum()

Rain_Intensity_mm_h           0
radar_reflectivity_1_mm6m3    0
Liquid_watercontent_g_m3      0
Mean_weight_diameter_mm       0
Time_integration_s            0
Datetime                      0
Light_Rain                    0
Moderate_Rain                 0
Heavy_Rain                    0
Very_Heavy_Rain               0
Without_Rain                  0
Class_Rain_id                 0
Class_Rain                    0
Date                          0
Year                          0
Month                         0
Day_of_week                   0
dtype: int64

In [ ]:
#Substituindo valores Nulos por 0 (zero)
df_RD80_FINAL.fillna(value = 0,  inplace = True)

ValueError: ignored

Vamos verificar se os ajustes nos valores NaN ocorreram corretamente.

In [ ]:
#Verificando valores Nulos (NaN)
df_RD80_FINAL.isna().sum()

Rain_Intensity_mm_h           0
radar_reflectivity_1_mm6m3    0
Liquid_watercontent_g_m3      0
Mean_weight_diameter_mm       0
Time_integration_s            0
Datetime                      0
dtype: int64

Agora sim iremos adicionar as colunas para classificação da intensidade de chuva (mm/h) ao Dataframe **df_rd80_joss**.

In [ ]:
#Add as colunas referente à intensidade da chuva. 
df_RD80_FINAL=df_RD80_FINAL.assign(Light_Rain=0, Moderate_Rain=0, Heavy_Rain=0, Very_Heavy_Rain=0, Without_Rain=0, Class_Rain_id=0,Class_Rain='Não choveu')
convert_dict = {'Light_Rain': int,'Moderate_Rain': int,'Heavy_Rain': int,'Very_Heavy_Rain': int,
                'Without_Rain': int,'Class_Rain_id': int, 'Class_Rain':str}  
  
df_RD80_FINAL = df_RD80_FINAL.astype(convert_dict)

In [ ]:
for index, row in df_RD80_FINAL.iterrows():

    if (row['Rain_Intensity_mm_h'] >= 0.1) and (row['Rain_Intensity_mm_h'] <= 2.5):
      df_RD80_FINAL.loc[index,'Light_Rain'] = 1
      df_RD80_FINAL.loc[index,'Class_Rain'] = 'Chuva fraca'
      df_RD80_FINAL.loc[index,'Class_Rain_id'] = 1
    elif(row['Rain_Intensity_mm_h']  > 2.5) and (row['Rain_Intensity_mm_h']  <= 10):
      df_RD80_FINAL.loc[index,'Moderate_Rain'] = 1
      df_RD80_FINAL.loc[index,'Class_Rain'] = 'Chuva moderada'
      df_RD80_FINAL.loc[index,'Class_Rain_id'] = 2
    elif (row['Rain_Intensity_mm_h']  > 10) and (row['Rain_Intensity_mm_h']  <= 50):
      df_RD80_FINAL.loc[index,'Heavy_Rain'] = 1
      df_RD80_FINAL.loc[index,'Class_Rain'] = 'Chuva forte'
      df_RD80_FINAL.loc[index,'Class_Rain_id'] = 3
    elif (row['Rain_Intensity_mm_h']  > 50):
      df_RD80_FINAL.loc[index,'Very_Heavy_Rain'] = 1
      df_RD80_FINAL.loc[index,'Class_Rain'] = 'Chuva muito forte'
      df_RD80_FINAL.loc[index,'Class_Rain_id'] = 4
    else:
      df_RD80_FINAL.loc[index,'Without_Rain'] = 1
      df_RD80_FINAL.loc[index,'Class_Rain'] = 'Não choveu'
      df_RD80_FINAL.loc[index,'Class_Rain_id'] = 0

Vamos ajustar os dados referente ao Datetime, adicionando novas colunas, para que possamos manipular durante os filtros na EDA.

In [ ]:

#Vamos converter o "Datetime" em um objeto datetime para que seja mais fácil realizar outras manipulações
df_RD80_FINAL['Datetime'] = df_RD80_FINAL.Datetime.astype('datetime64')

# Criar uma coluna data
df_RD80_FINAL['Date'] = df_RD80_FINAL['Datetime'].dt.date

# Criar uma coluna ano
df_RD80_FINAL['Year'] = df_RD80_FINAL['Datetime'].dt.year

# Criar uma coluna mês
df_RD80_FINAL['Month'] = df_RD80_FINAL['Datetime'].dt.month
df_RD80_FINAL['Month'] = df_RD80_FINAL['Month'].apply(lambda x: calendar.month_abbr[x])

In [ ]:
# Ordenando a coluna do mês do ano
df_RD80_FINAL['Month'] = pd.Categorical(df_RD80_FINAL['Month'], 
                                  categories= ['Jan','Feb','Mar','Apr','May','Jun', 'Jul',
                                              'Aug','Sep','Oct','Nov','Dec'],
                                                ordered = True)

In [ ]:

# Criando uma coluna de dia da semana

df_RD80_FINAL['Day_of_week'] = [d.day_name() for d in df_RD80_FINAL['Datetime']]

In [ ]:
# Ordenando a coluna do dia da semana
df_RD80_FINAL['Day_of_week'] = pd.Categorical(df_RD80_FINAL['Day_of_week'], 
                                  categories= ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'],
                                                ordered = True)

In [ ]:
# Criando a coluna hora do dia
df_RD80_FINAL['Time'] = [d.time() for d in df_RD80_FINAL['Datetime']]

In [ ]:
# Dividindo a coluna hora do dia em diferentes sessões em um dia

df_RD80_FINAL=df_RD80_FINAL.assign(session=pd.cut(df_RD80_FINAL.Datetime.dt.hour,
                              [0,6,12,18,23],
                              labels=['Night','Morning','Afternoon','Evening'],
                              include_lowest=True))

Vamos reordenar as colunas dos Dataframes

In [ ]:
df_RD80_FINAL.columns

Index(['Rain_Intensity_mm_h', 'radar_reflectivity_1_mm6m3',
       'Liquid_watercontent_g_m3', 'Mean_weight_diameter_mm',
       'Time_integration_s', 'Datetime', 'Light_Rain', 'Moderate_Rain',
       'Heavy_Rain', 'Very_Heavy_Rain', 'Without_Rain', 'Class_Rain_id',
       'Class_Rain', 'Date', 'Year', 'Month', 'Day_of_week', 'Time',
       'session'],
      dtype='object')

In [ ]:
df_RD80_FINAL = df_RD80_FINAL.reindex(columns=['Datetime', 'Date', 'Year', 'Month', 'Day_of_week', 'Time','Rain_Intensity_mm_h', 'radar_reflectivity_1_mm6m3',
       'Liquid_watercontent_g_m3', 'Mean_weight_diameter_mm',
       'Time_integration_s', 'Light_Rain', 'Moderate_Rain',
       'Heavy_Rain', 'Very_Heavy_Rain', 'Without_Rain', 'Class_Rain_id',
       'Class_Rain'])

Vamos visualizar novamente as colunas dos Dataframes para verificar se elas forma reordenadas corretamente.

In [ ]:
df_RD80_FINAL.columns

Index(['Datetime', 'Date', 'Year', 'Month', 'Day_of_week', 'Time',
       'Rain_Intensity_mm_h', 'radar_reflectivity_1_mm6m3',
       'Liquid_watercontent_g_m3', 'Mean_weight_diameter_mm',
       'Time_integration_s', 'Light_Rain', 'Moderate_Rain', 'Heavy_Rain',
       'Very_Heavy_Rain', 'Without_Rain', 'Class_Rain_id', 'Class_Rain'],
      dtype='object')

Agora vamos garantir de que os nossos dataframes estarão corretamente classificados eem ordem crescente. Vamos usar a função "**sort_values()**" do **Pandas**, tomando como referência a coluna "**Datetime**".

In [ ]:
df_RD80_FINAL = df_RD80_FINAL.sort_values(by=['Datetime'])

**Visualização final dos dados**

In [ ]:
#Vamos visualizar as primeiras 2 e últimas 2 linhas dos dados
df_RD80_FINAL.loc[df_RD80_FINAL['Month'] == 'Jul'].head(n=20).append(df_RD80_FINAL.loc[df_RD80_FINAL['Rain_Intensity_mm_h'] > 0].tail(n=2))

,Datetime,Date,Year,Month,Day_of_week,Time,Rain_Intensity_mm_h,radar_reflectivity_1_mm6m3,Liquid_watercontent_g_m3,Mean_weight_diameter_mm,Time_integration_s,Light_Rain,Moderate_Rain,Heavy_Rain,Very_Heavy_Rain,Without_Rain,Class_Rain_id,Class_Rain
1635,2020-07-28 13:23:00,2020-07-28,2020,Jul,Tuesday,13:23:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1636,2020-07-28 13:24:00,2020-07-28,2020,Jul,Tuesday,13:24:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1637,2020-07-28 13:25:00,2020-07-28,2020,Jul,Tuesday,13:25:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1638,2020-07-28 13:26:00,2020-07-28,2020,Jul,Tuesday,13:26:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1639,2020-07-28 13:27:00,2020-07-28,2020,Jul,Tuesday,13:27:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1640,2020-07-28 13:28:00,2020-07-28,2020,Jul,Tuesday,13:28:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1641,2020-07-28 13:29:00,2020-07-28,2020,Jul,Tuesday,13:29:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1642,2020-07-28 13:30:00,2020-07-28,2020,Jul,Tuesday,13:30:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1643,2020-07-28 13:31:00,2020-07-28,2020,Jul,Tuesday,13:31:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1644,2020-07-28 13:32:00,2020-07-28,2020,Jul,Tuesday,13:32:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1645,2020-07-28 13:33:00,2020-07-28,2020,Jul,Tuesday,13:33:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1646,2020-07-28 13:34:00,2020-07-28,2020,Jul,Tuesday,13:34:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1647,2020-07-28 13:35:00,2020-07-28,2020,Jul,Tuesday,13:35:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1648,2020-07-28 13:36:00,2020-07-28,2020,Jul,Tuesday,13:36:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1649,2020-07-28 13:37:00,2020-07-28,2020,Jul,Tuesday,13:37:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1650,2020-07-28 13:38:00,2020-07-28,2020,Jul,Tuesday,13:38:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1651,2020-07-28 13:39:00,2020-07-28,2020,Jul,Tuesday,13:39:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1652,2020-07-28 13:40:00,2020-07-28,2020,Jul,Tuesday,13:40:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1653,2020-07-28 13:41:00,2020-07-28,2020,Jul,Tuesday,13:41:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
1654,2020-07-28 13:42:00,2020-07-28,2020,Jul,Tuesday,13:42:00,0.00000,0.00000,0.00000,0.00000,60.0,0,0,0,0,1,0,Não choveu
343975,2022-08-28 20:32:00,2022-08-28,2022,Aug,Sunday,20:32:00,0.12736,24.43753,0.00836,1.09353,60.0,1,0,0,0,0,1,Chuva fraca
343977,2022-08-28 20:34:00,2022-08-28,2022,Aug,Sunday,20:34:00,0.14538,35.30966,0.00945,1.13412,60.0,1,0,0,0,0,1,Chuva fraca

Visualização das estatísticas descritivas.

In [ ]:
#Visualização das estatísticas descritivas
df_RD80_FINAL.describe()

,Year,Rain_Intensity_mm_h,radar_reflectivity_1_mm6m3,Liquid_watercontent_g_m3,Mean_weight_diameter_mm,Time_integration_s,Light_Rain,Moderate_Rain,Heavy_Rain,Very_Heavy_Rain,Without_Rain,Class_Rain_id
count,346968.000000,346968.000000,346968.000000,346968.000000,346968.000000,346968.0,346968.000000,346968.000000,346968.000000,346968.000000,346968.000000,346968.000000
mean,2021.710181,0.341667,285.441908,0.016702,0.105823,60.0,0.045212,0.012817,0.007211,0.001225,0.933536,0.097378
std,0.499927,3.271783,4534.597174,0.140959,0.344134,0.0,0.207768,0.112483,0.084611,0.034977,0.249092,0.414119
min,2020.000000,0.000000,0.000000,0.000000,0.000000,60.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2021.000000,0.000000,0.000000,0.000000,0.000000,60.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,2022.000000,0.000000,0.000000,0.000000,0.000000,60.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,2022.000000,0.000000,0.000000,0.000000,0.000000,60.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,2022.000000,128.895370,550486.250000,4.893830,5.361310,60.0,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000

Após todos os ajustes anteriores, finalmente podemos exportar/salvar nossos Dataframes para o formato CSV, afim de usá-los na próxima etapa deste trabalho: **Exploratory Data Analysis (EDA)**.

In [ ]:
#Salvando/Exportando os Dataframes para o formato CSV
df_RD80_FINAL.to_csv('./df_RD80_FINAL.csv')

# **Referências**

BRUCE, A.; BRUCE, P. Estatística Prática para Cientistas de Dados. [S.l.]: Alta Books, 2019. ISBN 9788550810805.

COX, V. Exploratory Data Analysis. In: Translating Statistics to Make Decisions. [S.l.]: Apress, Berkeley, CA, 2017. ISBN 978-1-4842-2256-0.

ESCOVEDO, T.; KOSHIYAMA, A. Introdução a Data Science: Algoritmos de Machine
Learning e métodos de análise. [S.l.]: Casa do Código, 2020. ISBN 9788572540551.

IGUAL, L. et al. Introduction to Data Science: A Python Approach to Concepts, Techniques and Applications. [S.l.]: Springer International Publishing, 2017. (Undergraduate Topics in Computer Science). ISBN 9783319500171.

ROSE, T.; CREWELL, S.; LÖHNERT, U.; SIMMER, C. A network suitable microwave radiometer for operational monitoring of the cloudy atmosphere, Atmos. Res., 75, 183–200, 2005.

Tukey, John (1977). Exploratory Data Analysis. Addison-Wesley Publishing Company.

https://cienciadedadosuff.github.io/cursos/notebooks/caderno-3.html